<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Petitions</title>
</head>
<body>
<h1>List of Petitions</h1>
<ul>
    <li th:each="petition : ${petitions}">
        <strong th:text="${petition.title}"></strong> -
        <span th:text="${petition.description}"></span>
        <a th:href="@{/petitions/{id}(id=${petition.id})}">View and Sign Petition</a>
    </li>
</ul>
<br>
<a th:href="@{/petitions/create}">Create a new petition</a>
<a th:href="@{/petitions/search}">Search a petition</a>
<br><br>
<a th:href="@{/}">Go back to Home page</a>
</body>
</html>
