<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search Petition</title>
</head>
<body>
<h1>Search for a Petition</h1>
<form th:action="@{/petitions/search-result}" method="get">
  <label for="title">Enter Petition Title:</label>
  <input type="text" id="title" name="title" required/><br><br>
  <button type="submit">Search</button>
</form>
<br>
<a th:href="@{/petitions/all}">Back to all petitions</a>
<a th:href="@{/petitions/create}">Create a new petition</a>
</body>
</html>
